# Core functionality - changes here should be rare!
/src/app.py                   @jamylguimaraes
/src/backend/database.py      @jamylguimaraes
/src/backend/routers/auth.py  @jamylguimaraes

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jamylguimaraes
